In [1]:
import pandas as pd
import numpy as np

In [2]:
magazine_di = pd.read_csv('./data/d/magazine_D.csv' , sep='|', encoding='utf-8')
magazine_di

,magazine,brand,category,title,link,date,contents,title_brand,check,why,word_dior,sentences_tag,ADFN
0,A,D,FASHION,빈티지 쇼핑의 시대,http://www.allurekorea.com/2020/10/27/%eb%b9%8...,2020-10-27,"['20년이 지난 패션템에 새로운 활기가 돈다. 바야흐로 빈티지 쇼핑의 시대다.',...",0,0,-,"['그러니 빈티지 패션은, 어쩌면 나도 좋고 너도 좋은 일이다. 당시 사랑했던, 지...","[('[', 'SS'), (""'"", 'SS'), ('그러', 'VV'), ('니',...","['그러', '빈티지', '패션', '좋', '느', '좋', '당시', '사랑',..."
1,A,D,FASHION,"주식을 시작한 패션 에디터의 이야기, 나는 주주다",http://www.allurekorea.com/2020/10/16/%ec%a3%b...,2020-10-16,['주식의 ‘주’자도 모르는 패션 에디터가 주식에 눈뜨려 하는 순간. 이번 시즌 가...,0,0,-,[' 요즘 들어 주식은 친구들과의 대화에서 빼놓을 수 없는 주제가 되었다. 코로나...,"[('[', 'SS'), (""'"", 'SS'), ('요즘', 'NNG'), ('듣'...","['요즘', '듣', '주식', '친구', '과의', '대화', '빼놓', '주제'..."
2,A,D,FASHION,거리로 나온 하이패션 슈즈들 4,http://www.allurekorea.com/2020/09/16/%eb%a6%a...,2020-09-16,['나이키의 조던 시리즈들 중에서도 역대급으로 평가받는 ‘에어 디올’은 부르는 게 ...,0,0,-,"[""['나이키의 조던 시리즈들 중에서도 역대급으로 평가받는 ‘에어 디올’은 부르는 ...","[('[', 'SS'), ('""', 'SS'), ('[', 'SS'), (""'"", ...","['나이', '키', '조', '덜', '시리즈', '역대', '급', '평가', ..."
3,A,D,FASHION,차정원부터 아이린까지. 옷 잘입는 셀럽들의 사복 패션에 등장한 뉴 백은 무엇?,http://www.allurekorea.com/2020/08/13/%ec%b0%a...,2020-08-13,"['셀럽들의 데일리룩에서 캐치한 뉴 백!', '@ch_amii', '지갑, 핸드폰,...",0,0,-,['디올 레이디 디올 디올아무르 미니백 5백만원대'],"[('[', 'SS'), (""'"", 'SS'), ('DIOR', 'OL'), ('레...","['DIOR', '레이디', 'DIOR', 'DIOR', '아무르', '미니', '대']"
4,A,D,CELEBRITY,DON’T CATEGORIZE ME / 유태오,http://www.allurekorea.com/2020/05/28/dont-cat...,2020-05-28,['“Don’t Categorize Me.” 그가 말했다. 배우 유태오는 더없이 자...,0,0,-,['실크 슬리브리스와 블랙 와이드 팬츠는 김서룡 옴므. 블랙 부츠는 보테가 베네타....,"[('[', 'SS'), (""'"", 'SS'), ('실크', 'NNG'), ('슬리...","['실크', '슬리브리스', '블랙', '와이드', '팬츠', '김', '블랙', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1754,W,D,"FASHION, 쇼핑, 트렌드",가을의 하이킹,http://www.wkorea.com/2016/09/05/%ea%b0%80%ec%...,2016-09-05,"'깊은 산과 거친 계곡, 험준한 바위를 오르내리는 트레킹화의 변신.\n\n1. 밀리...",0,0,NaN,['6. 주얼 장식과 앙증맞은 리본이 반전의 매력을 더하는 부츠는 디올 제품. 1백...,"[('[', 'SS'), (""'"", 'SS'), ('6', 'NR'), ('.', ...","['주', '얼', '장식', '앙증맞', '리본', '반전', '매력', '부츠'..."
1755,W,D,"FASHION, 뉴스",W해시태그,http://www.wkorea.com/2016/09/02/w%ed%95%b4%ec...,2016-09-02,"'패션&뷰티 아이템, 핫 스폿, 영화, 전시 등 더블유 에디터의 날카롭고 감각적인 ...",0,0,NaN,"['#W뷰티콕 (뷰티 디렉터 송시은)\\n조회 2,023회\\n너무나 뜨거운 여름...","[('[', 'SS'), (""'"", 'SS'), ('#', 'SW'), ('W', ...","['W', '뷰티', '콕', '뷰티', '디렉터', '송', '시은', '조회',..."
1756,W,D,"FASHION, 뉴스",마법의 색,http://www.wkorea.com/2016/09/02/%eb%a7%88%eb%...,2016-09-02,"'크리스찬 디올에게 초록은 곧 ‘자연’을, 빨강은 ‘생명’을, 분홍은 ‘감미로움’을...",0,0,NaN,"[""'크리스찬 디올에게 초록은 곧 ‘자연’을, 빨강은 ‘생명’을, 분홍은 ‘감미로움...","[('[', 'SS'), ('""', 'SS'), (""'"", 'SS'), ('크리스'...","['크리스', '찬', 'DIOR', '초록', '자연', '빨강', '생명', '..."
1757,W,D,"FASHION, 화보",따로 또 같이,http://www.wkorea.com/2016/09/02/%eb%94%b0%eb%...,2016-09-02,'새로운 시즌을 맞아 더 모호하고 더 자유로운 방식으로 진화하고 있는 젠더 블렌딩 ...,0,0,NaN,"['자수 장식 슈트, 실크 셔츠에 리본 타이를 연출한 구찌, 남성다운 검정 테일러드...","[('[', 'SS'), (""'"", 'SS'), ('자수', 'NNG'), ('장식...","['자수', '장식', '슈트', '실크', '셔츠', '리본', '타이', '연출..."
1758,W,D,"FASHION, 트렌드",너도 나도 베트멍,http://www.wkorea.com/2016/09/01/%eb%84%88%eb%...,2016-09-01,'패션계에서 노바운더리 시대의 전후를 가르는 존재가 된 베트멍. 그 대표 아이템은 ...,0,0,NaN,"['리하나\\n나이 만28세\\n직업 가수, 디자이너, 패셔니스타, 배드 걸\\n평...","[('[', 'SS'), (""'"", 'SS'), ('리', 'NNG'), ('하나'...","['리', '나이', '직업', '가수', '디자이너', '패', '시', '니스'..."

In [84]:
magazine_di.drop('why', axis=1, inplace=True)

In [85]:
magazine_di.to_csv('./data/d/magazine_D.csv', index = False, sep ='|', encoding = 'utf-8')

In [86]:
magazine_di = pd.read_csv('./data/d/magazine_D.csv' , sep='|', encoding='utf-8')
magazine_di

,magazine,brand,category,title,link,date,contents,title_brand,check,word_dior,sentences_tag,ADFN
0,A,D,FASHION,빈티지 쇼핑의 시대,http://www.allurekorea.com/2020/10/27/%eb%b9%8...,2020-10-27,"['20년이 지난 패션템에 새로운 활기가 돈다. 바야흐로 빈티지 쇼핑의 시대다.',...",0,0,"['그러니 빈티지 패션은, 어쩌면 나도 좋고 너도 좋은 일이다. 당시 사랑했던, 지...","[('[', 'SS'), (""'"", 'SS'), ('그러', 'VV'), ('니',...","['그러', '빈티지', '패션', '좋', '느', '좋', '당시', '사랑',..."
1,A,D,FASHION,"주식을 시작한 패션 에디터의 이야기, 나는 주주다",http://www.allurekorea.com/2020/10/16/%ec%a3%b...,2020-10-16,['주식의 ‘주’자도 모르는 패션 에디터가 주식에 눈뜨려 하는 순간. 이번 시즌 가...,0,0,[' 요즘 들어 주식은 친구들과의 대화에서 빼놓을 수 없는 주제가 되었다. 코로나...,"[('[', 'SS'), (""'"", 'SS'), ('요즘', 'NNG'), ('듣'...","['요즘', '듣', '주식', '친구', '과의', '대화', '빼놓', '주제'..."
2,A,D,FASHION,거리로 나온 하이패션 슈즈들 4,http://www.allurekorea.com/2020/09/16/%eb%a6%a...,2020-09-16,['나이키의 조던 시리즈들 중에서도 역대급으로 평가받는 ‘에어 디올’은 부르는 게 ...,0,0,"[""['나이키의 조던 시리즈들 중에서도 역대급으로 평가받는 ‘에어 디올’은 부르는 ...","[('[', 'SS'), ('""', 'SS'), ('[', 'SS'), (""'"", ...","['나이', '키', '조', '덜', '시리즈', '역대', '급', '평가', ..."
3,A,D,FASHION,차정원부터 아이린까지. 옷 잘입는 셀럽들의 사복 패션에 등장한 뉴 백은 무엇?,http://www.allurekorea.com/2020/08/13/%ec%b0%a...,2020-08-13,"['셀럽들의 데일리룩에서 캐치한 뉴 백!', '@ch_amii', '지갑, 핸드폰,...",0,0,['디올 레이디 디올 디올아무르 미니백 5백만원대'],"[('[', 'SS'), (""'"", 'SS'), ('DIOR', 'OL'), ('레...","['DIOR', '레이디', 'DIOR', 'DIOR', '아무르', '미니', '대']"
4,A,D,CELEBRITY,DON’T CATEGORIZE ME / 유태오,http://www.allurekorea.com/2020/05/28/dont-cat...,2020-05-28,['“Don’t Categorize Me.” 그가 말했다. 배우 유태오는 더없이 자...,0,0,['실크 슬리브리스와 블랙 와이드 팬츠는 김서룡 옴므. 블랙 부츠는 보테가 베네타....,"[('[', 'SS'), (""'"", 'SS'), ('실크', 'NNG'), ('슬리...","['실크', '슬리브리스', '블랙', '와이드', '팬츠', '김', '블랙', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
1754,W,D,"FASHION, 쇼핑, 트렌드",가을의 하이킹,http://www.wkorea.com/2016/09/05/%ea%b0%80%ec%...,2016-09-05,"'깊은 산과 거친 계곡, 험준한 바위를 오르내리는 트레킹화의 변신.\n\n1. 밀리...",0,0,['6. 주얼 장식과 앙증맞은 리본이 반전의 매력을 더하는 부츠는 디올 제품. 1백...,"[('[', 'SS'), (""'"", 'SS'), ('6', 'NR'), ('.', ...","['주', '얼', '장식', '앙증맞', '리본', '반전', '매력', '부츠'..."
1755,W,D,"FASHION, 뉴스",W해시태그,http://www.wkorea.com/2016/09/02/w%ed%95%b4%ec...,2016-09-02,"'패션&뷰티 아이템, 핫 스폿, 영화, 전시 등 더블유 에디터의 날카롭고 감각적인 ...",0,0,"['#W뷰티콕 (뷰티 디렉터 송시은)\\n조회 2,023회\\n너무나 뜨거운 여름...","[('[', 'SS'), (""'"", 'SS'), ('#', 'SW'), ('W', ...","['W', '뷰티', '콕', '뷰티', '디렉터', '송', '시은', '조회',..."
1756,W,D,"FASHION, 뉴스",마법의 색,http://www.wkorea.com/2016/09/02/%eb%a7%88%eb%...,2016-09-02,"'크리스찬 디올에게 초록은 곧 ‘자연’을, 빨강은 ‘생명’을, 분홍은 ‘감미로움’을...",0,0,"[""'크리스찬 디올에게 초록은 곧 ‘자연’을, 빨강은 ‘생명’을, 분홍은 ‘감미로움...","[('[', 'SS'), ('""', 'SS'), (""'"", 'SS'), ('크리스'...","['크리스', '찬', 'DIOR', '초록', '자연', '빨강', '생명', '..."
1757,W,D,"FASHION, 화보",따로 또 같이,http://www.wkorea.com/2016/09/02/%eb%94%b0%eb%...,2016-09-02,'새로운 시즌을 맞아 더 모호하고 더 자유로운 방식으로 진화하고 있는 젠더 블렌딩 ...,0,0,"['자수 장식 슈트, 실크 셔츠에 리본 타이를 연출한 구찌, 남성다운 검정 테일러드...","[('[', 'SS'), (""'"", 'SS'), ('자수', 'NNG'), ('장식...","['자수', '장식', '슈트', '실크', '셔츠', '리본', '타이', '연출..."
1758,W,D,"FASHION, 트렌드",너도 나도 베트멍,http://www.wkorea.com/2016/09/01/%eb%84%88%eb%...,2016-09-01,'패션계에서 노바운더리 시대의 전후를 가르는 존재가 된 베트멍. 그 대표 아이템은 ...,0,0,"['리하나\\n나이 만28세\\n직업 가수, 디자이너, 패셔니스타, 배드 걸\\n평...","[('[', 'SS'), (""'"", 'SS'), ('리', 'NNG'), ('하나'...","['리', '나이', '직업', '가수', '디자이너', '패', '시', '니스'..."

In [3]:
magazine_di['word_dior'][0]

"['그러니 빈티지 패션은, 어쩌면 나도 좋고 너도 좋은 일이다. 당시 사랑했던, 지금 사랑하지 않는 나의 물건들이 새로운 사랑을 받는 것도 좋은 일이다. 그래서 요즘은 빈티지 물건에 대해 중고임을 뜻하는 ‘Used’보다 ‘소장된(Pre-Owned)’을 사용하거나, ‘사랑받은(Pre-Loved)’ 물건으로 표기하는 일이 늘었다. 나는 요즘 지금보다 패션에 열정적이었던 때 구입한 옷을 다시 꺼내보는 즐거움에 빠져 있다. 더 이상 어울리지 않는 것은 새 주인을 찾아주기도 한다(내가 이렇게 짧은 걸 입고 다녔다니! 이렇게 높은 걸 신었다니!). 새로 산 토템 데님에 8년 된 미스지 컬렉션의 긴 재킷을 입고, 아크네의 슬랙스에 15년 된 아르마니 재킷을 입는 식이다. 당대의 미감을 쏟아부은 이 재킷들은 여전히 라인이 선명하고 다시 돌아온 1990년대 무드와도 잘 맞는다. 13년 전에 사고 잊어버렸던 DKNY의 팬츠는 당시 유행대로 밑위가 조금 짧지만 바지 라인만큼은 지금 막 나온 것 같다. 가방은 어떤가. 오래된 디올의 새들백은 당근마켓으로 팔아버렸지만 사회초년생 시절 구입한 루이 비통이며 페라가모 백은 너무 튼튼한 데다 클래식해 보이기까지 해서 열심히 들기로 한다(게다가 아직도 라인이 유지되는 스테디!). 정금자의 샤넬 브리프케이스가 탐이 나는가? 현재 파페치의 ‘Positively FARFETCH’ 코너에서 1995년 제작된 브리프케이스가 7백85만원에 팔리고 있다. 그러니 당장, 빈티지의 무드에 동참하시기를!']"

In [4]:
len(magazine_di)

1759

## Kkma

In [5]:
from konlpy.tag import Kkma
kkma = Kkma()

In [122]:
didi = []
for line in magazine_di['word_dior']:
    didi.append(line)

In [7]:
type(didi)

list

### 영문 다 대문자로 변환

In [185]:
for idx in range(len(didi)) :
    didi[idx] = didi[idx].upper()
#     print(slsl[idx])

### 외국어 안잘리게 영어로

In [160]:
FN = []
for idx in range(len(didi)) :
    if '마리아 그라치아 치우리' in didi[idx] :
        didi[idx] = didi[idx].replace('마리아 그라치아 치우리' , 'Maria Grazia Chiuri')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

155

In [161]:
FN = []
for idx in range(len(didi)) :
    if '마리아 그라치아 키우리' in didi[idx] :
        didi[idx] = didi[idx].replace('마리아 그라치아 키우리' , 'Maria Grazia Chiuri')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

41

In [162]:
FN = []
for idx in range(len(didi)) :
    if '그라치아' in didi[idx] :
        didi[idx] = didi[idx].replace('그라치아' , 'Grazia')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

76

In [163]:
FN = []
for idx in range(len(didi)) :
    if '마리아 GRAZIA' in didi[idx] :
        didi[idx] = didi[idx].replace('마리아 GRAZIA' , 'MARIA Grazia')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

0

In [164]:
FN = []
for idx in range(len(didi)) :
    if '디올' in didi[idx] :
        didi[idx] = didi[idx].replace('디올' , 'DIOR')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

1610

In [165]:
FN = []
for idx in range(len(didi)) :
    if '펜디' in didi[idx] :
        didi[idx] = didi[idx].replace('펜디' , 'FENDI')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

111

In [166]:
FN = []
for idx in range(len(didi)) :
    if '닥터마틴' in didi[idx] :
#         didi[idx] = didi[idx].replace('펜디' , 'FENDI')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

3

In [167]:
FN = []
for idx in range(len(didi)) :
    if '카라 델레바인' in didi[idx] :
        didi[idx] = didi[idx].replace('카라 델레바인' , 'Cara Delevingne')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

20

In [168]:
FN = []
for idx in range(len(didi)) :
    if '에디션' in didi[idx] :
        didi[idx] = didi[idx].replace('에디션' , 'EDITION')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

35

In [169]:
FN = []
for idx in range(len(didi)) :
    if '오뜨 꾸띄르' in didi[idx] :
        didi[idx] = didi[idx].replace('오뜨 꾸띄르' , 'HAUTE COUTURE')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

38

In [170]:
FN = []
for idx in range(len(didi)) :
    if '오뜨 쿠튀르' in didi[idx] :
        didi[idx] = didi[idx].replace('오뜨 쿠튀르' , 'HAUTE COUTURE')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

1

In [171]:
FN = []
for idx in range(len(didi)) :
    if '쿠튀르' in didi[idx] :
        didi[idx] = didi[idx].replace('쿠튀르' , 'COUTURE')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

95

In [172]:
FN = []
for idx in range(len(didi)) :
    if '스타일리시' in didi[idx] :
        didi[idx] = didi[idx].replace('스타일리시' , 'STYLISH')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

8

In [173]:
FN = []
for idx in range(len(didi)) :
    if '에디터' in didi[idx] :
        didi[idx] = didi[idx].replace('에디터' , 'EDITOR')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

70

In [174]:
FN = []
for idx in range(len(didi)) :
    if '구찌' in didi[idx] :
        didi[idx] = didi[idx].replace('구찌' , 'GUCCI')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

162

In [175]:
FN = []
for idx in range(len(didi)) :
    if '몽클레르' in didi[idx] :
        didi[idx] = didi[idx].replace('몽클레르' , 'MONCLER')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

11

In [176]:
FN = []
for idx in range(len(didi)) :
    if '발렌시아가' in didi[idx] :
        didi[idx] = didi[idx].replace('발렌시아가' , 'BALENCIAGA')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

68

In [177]:
FN = []
for idx in range(len(didi)) :
    if '스포티' in didi[idx] :
        didi[idx] = didi[idx].replace('스포티' , 'SPORTY')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

49

In [178]:
FN = []
for idx in range(len(didi)) :
    if '셀러브리티' in didi[idx] :
        didi[idx] = didi[idx].replace('셀러브리티' , 'CELEBRITY')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

38

In [179]:
FN = []
for idx in range(len(didi)) :
    if '킴 존스' in didi[idx] :
        didi[idx] = didi[idx].replace('킴 존스' , 'KIM JONES')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

95

In [180]:
FN = []
for idx in range(len(didi)) :
    if '살바토레 페라가모' in didi[idx] :
        didi[idx] = didi[idx].replace('살바토레 페라가모' , 'Salvatore Ferragamo')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

15

In [181]:
FN = []
for idx in range(len(didi)) :
    if '에디 슬리먼' in didi[idx] :
        didi[idx] = didi[idx].replace('에디 슬리먼' , 'Hedi Slimane')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

34

In [182]:
FN = []
for idx in range(len(didi)) :
    if '에디 슬리만' in didi[idx] :
        didi[idx] = didi[idx].replace('에디 슬리만' , 'Hedi Slimane')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

21

In [183]:
FN = []
for idx in range(len(didi)) :
    if '칼 라거펠트' in didi[idx] :
        didi[idx] = didi[idx].replace('칼 라거펠트' , 'Karl Lagerfeld')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

0

In [184]:
FN = []
for idx in range(len(didi)) :
    if '아카이브' in didi[idx] :
        didi[idx] = didi[idx].replace('아카이브' , 'ARCHIVE')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

0

In [251]:
FN = []
for idx in range(len(didi)) :
    if '에르메스' in didi[idx] :
        didi[idx] = didi[idx].replace('에르메스' , 'HERMES')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

0

In [252]:
FN = []
for idx in range(len(didi)) :
    if '마리아' in didi[idx] :
        didi[idx] = didi[idx].replace('마리아' , 'MARIA')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

0

In [271]:
FN = []
for idx in range(len(didi)) :
    if '레이디' in didi[idx] :
        didi[idx] = didi[idx].replace('레이디' , 'LADY')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

0

In [ ]:
FN = []
for idx in range(len(didi)) :
    if '크리에이티브' in didi[idx] :
        didi[idx] = didi[idx].replace('크리에이티브' , 'CREATIVE')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

In [ ]:
FN = []
for idx in range(len(didi)) :
    if '주얼리' in didi[idx] :
        didi[idx] = didi[idx].replace('주얼리' , 'JEWERLY')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

In [ ]:
FN = []
for idx in range(len(didi)) :
    if '마이애미' in didi[idx] :
        didi[idx] = didi[idx].replace('마이애미' , 'MIAMI')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

In [ ]:
FN = []
for idx in range(len(didi)) :
    if '마이클 코어스' in didi[idx] :
        didi[idx] = didi[idx].replace('마이클 코어스' , 'MICHAEL KORS')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

In [ ]:
FN = []
for idx in range(len(didi)) :
    if '메종' in didi[idx] :
        didi[idx] = didi[idx].replace('메종' , 'MAISON')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

In [ ]:
FN = []
for idx in range(len(didi)) :
    if '발렌티노' in didi[idx] :
        didi[idx] = didi[idx].replace('발렌티노' , 'VALENTINO')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

In [ ]:
FN = []
for idx in range(len(didi)) :
    if '베르사체' in didi[idx] :
        didi[idx] = didi[idx].replace('베르사체' , 'VERSACE')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

In [303]:
FN = []
for idx in range(len(didi)) :
    if '캘빈 클라인' in didi[idx] :
        didi[idx] = didi[idx].replace('캘빈 클라인' , 'Calvin Klein')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

54

In [318]:
FN = []
for idx in range(len(didi)) :
    if '스틸레토' in didi[idx] :
        didi[idx] = didi[idx].replace('스틸레토' , 'Stiletto')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

10

In [342]:
FN = []
for idx in range(len(didi)) :
    if '디자인' in didi[idx] :
        didi[idx] = didi[idx].replace('디자인' , 'DESIGN')
        FN.append(idx)
#         print(idx, slsl[idx])
print(len(FN))

264

### 각 문장별로 형태소 구분하기

In [ ]:

sentences_tag = []
for i in range(len(didi)) :
# for sentence in didi:
#     print(i)
    morph = kkma.pos(didi[i])
    sentences_tag.append(morph)
#     print(morph)
#     print('-'*30)

### 형태소 구분 검토용으로 일부 진행

In [ ]:

# TEST
# 각 문장별로 형태소 구분하기
sentences_tagT = []
for i in range(200,1000) :
# for sentence in didi:
    print(i)
    morph = kkma.pos(didi[i])
    sentences_tagT.append(morph)
    print(morph)
    print('-'*30)

In [ ]:
didi[235]

In [ ]:
# 명사 혹은 형용사인 품사만 선별해 리스트에 담기
noun_adj_list = []
for sentence1 in sentences_tag:
    for word, tag in sentence1:
        if tag in ['NNG','NNP','VA', 'VV', 'OL', 'UN']:
            noun_adj_list.append(word)

### 불용어는 형태소분석 결과에서도 빼주기

In [ ]:
from collections import Counter

In [ ]:
# 불용어 제외 리스트
noun_adj_list_stp= []
for sentence1 in sentences_tag:
    for word, tag in sentence1:
        if word not in stpwds_l:
            if tag in ['NNG','NNP','VA', 'VV', 'OL', 'UN']:
                noun_adj_list_stp.append(word)

In [ ]:
# 블용어 제외 순위
counts_stp = Counter(noun_adj_list_stp)
print(counts_stp.most_common(100))

## WordCloud

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt

In [ ]:
text = ' '.join(noun_adj_list)
# text

### Stopwords

In [ ]:
stpwds = pd.read_csv('./stopwords.csv' , sep=',', encoding='utf-8', header=None)
stpwds

In [ ]:
# 리스트로 변환
stpwds_l = stpwds[0].tolist()

In [ ]:
# stpwds_l = []
add = ['위하', '선보이', '가격', '가격 미정', '미정', '지금', 'BY', 'N', '있', '없', '지나', '만들', '말하', '입', '보', 
       '되','선보이', '같', '대하', '등장', '사람', '받', '많', '더하', '최근', '보여주', '후', '은', '티', '주', '리', '르', '라',
      '레']
for words in add :
    stpwds_l.append(words)
# stpwds_l

In [ ]:
wordcloud = WordCloud(font_path='font/NanumGothic.ttf', background_color='white', stopwords = stpwds_l).generate(text)

In [ ]:
plt.figure(figsize=(22,22)) #이미지 사이즈 지정
plt.imshow(wordcloud, interpolation='lanczos') #이미지의 부드럽기 정도
plt.axis('off') #x y 축 숫자 제거
plt.show() 
# plt.savefig()

### top100 wordcloud before deleting other brands

In [ ]:
# 블용어 제외 순위 / 워드클라우드
counts_stp = Counter(noun_adj_list_stp)
top100 = counts_stp.most_common(100)
top100_word = []
for word, tag in top100 :
    top100_word.append(word)

In [ ]:
text = ' '.join(top100_word)
# text

In [ ]:
wordcloud100 = WordCloud(font_path='font/NanumGothic.ttf', background_color='white', stopwords = stpwds_l).generate(text)
plt.figure(figsize=(22,22)) #이미지 사이즈 지정
plt.imshow(wordcloud, interpolation='lanczos') #이미지의 부드럽기 정도
plt.axis('off') #x y 축 숫자 제거
plt.show() 
# plt.savefig()

### top100 wordcloud after deleting other brands

In [ ]:
stpwds_b = stpwds_l
brands = ['프라다', '샤넬', 'GUCCI' ]
for words in brands :
    stpwds_b.append(words)
# stpwds_b

In [ ]:
# 불용어 제외 리스트
noun_adj_list_stp= []
for sentence1 in sentences_tag:
    for word, tag in sentence1:
        if word not in stpwds_b:
            if tag in ['NNG','NNP','VA', 'VV', 'OL', 'UN']:
                noun_adj_list_stp.append(word)

In [ ]:
# 블용어 제외 순위 / 워드클라우드
counts_stp = Counter(noun_adj_list_stp)
top100 = counts_stp.most_common(100)
print(top100)

In [ ]:
# 블용어 제외 순위 / 워드클라우드
counts_stp = Counter(noun_adj_list_stp)
top100 = counts_stp.most_common(100)
top100_word = []
for word, tag in top100 :
    top100_word.append(word)

In [ ]:
text = ' '.join(top100_word)
# text

In [ ]:
wordcloud100 = WordCloud(font_path='font/NanumGothic.ttf', background_color='white', stopwords = stpwds_l).generate(text)
plt.figure(figsize=(22,22)) #이미지 사이즈 지정
plt.imshow(wordcloud, interpolation='lanczos') #이미지의 부드럽기 정도
plt.axis('off') #x y 축 숫자 제거
plt.show() 
# plt.savefig()

### magazine_di에 tag 컬럼 생성하기

In [ ]:
len(sentences_tag)

In [ ]:
print(magazine_di['word_dior'][0])
print(sentences_tag[0])

In [ ]:
# 불용어 제외 리스트
ADFN= []
for sentence1 in sentences_tag:
    ADFNT = [] 
    for word, tag in sentence1:
        
        if word not in stpwds_l:
           
            if tag in ['NNG','NNP','VA', 'VV', 'OL']:
                ADFNT.append(word)
    ADFN.append(ADFNT)

In [ ]:
len(ADFN)

In [ ]:
len(sentences_tag)

In [ ]:
magazine_di['sentences_tag'] = sentences_tag
magazine_di

In [ ]:
magazine_di['ADFN'] = ADFN
magazine_di

In [ ]:
magazine_di.to_csv('./data/d/magazine_D.csv', index = False, sep ='|', encoding = 'utf-8')

In [ ]:
magazine_di = pd.read_csv('./data/d/magazine_D.csv' , sep='|', encoding='utf-8')
magazine_di